:root {
    /* Cores do tema com gradiente roxo para azul */
    --primary-color: #6a0dad; /* Roxo */
    --secondary-color: #000000;
    --background-color: #afafaf; /* Cor de fundo clara */
    --card-background: #d3d3d3; /* Cor de fundo do card clara */
    --accent-color: #3439db; /* Azul */
    --danger-color: #e74c3c;
    --text-color: #2c3e50; /* Cor do texto clara */
    --border-radius: 12px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#loginPanel {
    background: linear-gradient(88deg, #6a0dad 0%, #3439db 100%);
}
   
#ra{
    background-color:rgba(255,255,255,0);
   }
   
   /* Digito */
#digito{
    background-color:rgba(255,255,255,0);
   }
   
   /* Senha */
#senha{
    background-color:rgba(255,255,255,0);
   }
#itemTitulo{
    background-color:rgba(255,255,255,0);
   }
#itemDescricao{
    background-color:rgba(255,255,255,0);
   }
#itemData{
    background-color:rgba(255,255,255,0);
   }
#itemLink{
    background-color:rgba(255,255,255,0);
   }
#itemImagem{
    background-color:rgba(255,255,255,0);
   }
#itemArquivo{
    background-color:rgba(255,255,255,0);
   }
#btnLogin {
    padding: 0.5rem 1rem; /* Ajuste o padding conforme necessário */
    transition: background-color 0.3s ease; /* Mantenha a transição apenas para a cor de fundo */
    transform: none; /* Remove qualquer transformação ao ser clicado */
}


@media (prefers-color-scheme: dark) {
    input[type="submit"] {
        background: linear-gradient(135deg, #6a0dad, var(--primary-color));
    }
    :root {
        /* Cores do tema escuro */
        --primary-color: #6a0dad; /* Roxo */
        --secondary-color: #ffffff; /* Texto claro */
        --background-color: #2c3e50; /* Cor de fundo escura */
        --card-background: #34495e; /* Cor de fundo do card escura */
        --accent-color: #3439db; /* Azul */
        --danger-color: #e74c3c;
        --text-color: #ecf0f1; /* Cor do texto clara */
        --border-radius: 12px;
        --box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    }
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        background-color: #34495e; /* Cor de fundo escura */
        color: var(--text-color); /* Cor do texto clara */
        border: 2px solid #555; /* Borda escura */
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus {
        border-color: var(--primary-color); /* Cor da borda ao focar */
        box-shadow: 0 0 0 0.2rem rgba(74, 144, 226, 0.5); /* Efeito de brilho ao focar */
    }
}

body {
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #6a0dad, #3439db);
}

::-webkit-scrollbar-thumb:hover {
    background: #8000d0; /* Cor ao passar o mouse */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efeito de brilho */
}

.navbar-custom {
    background: linear-gradient(to right, #6a0dad, #3439db); /* Gradiente do vermelho escuro para o vermelho claro */
    padding: 1rem;
    border-radius: 0 8px 8px 8px;
    transition: box-shadow 0.3s ease; /* Transição para sombra */
}

body {
    position: relative; /* Para o efeito de sombra na navbar */
}

body.scrolled .navbar-custom {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra ao rolar */
}

section {
    background-color: var(--card-background);
    border-radius: var(--border-radius);
    padding: 25px;
    box-shadow: var(--box-shadow);
    margin-bottom: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

input[type="submit"] {
    background: linear-gradient(135deg, var(--primary-color), #2980b9);
    color: #ffffff; /* Cor do texto do botão */
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-weight: 500;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Leve mudança de cor ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: var(--card-background); /* Cor de fundo do card */
    color: var(--text-color);
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.05); /* Aumenta o tamanho ao passar o mouse */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
}

.btn-primary {
    background: linear-gradient(135deg, var(--primary-color), #3439db);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-weight: 500;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #5e2c8f, var(--primary-color));
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 20px rgba(255, 255, 255, 0.5); /* Efeito de brilho */
    transform: translateY(-2px) scale(1.05); /* Aumenta o tamanho ao passar o mouse */
}

.btn {
    width: 100%; /* Faz o botão ocupar toda a largura disponível */
    padding: 0.8rem 1.5rem; /* Ajuste o padding conforme necessário */
    border-radius: 8px;
    font-weight: 500;
}



.btn:hover::after {
    transform: translate(-50%, -50%) scale(1); /* Expande o efeito de ondulação */
    opacity: 1; /* Torna visível */
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo ao passar o mouse */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); /* Efeito de brilho */
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
}

.item-card {
    display: flex; /* Usar flexbox para alinhar a imagem e a descrição */
    align-items: center; /* Alinha verticalmente ao centro */
    margin-bottom: 1.5rem;
    border-left: 5px solid var(--primary-color);
    background: linear-gradient(to right, rgba(74, 144, 226, 0.05), transparent);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.item-imagem {
    max-width: 150px; /* Defina um tamanho máximo para a imagem */
    margin-right: 1rem; /* Espaço entre a imagem e a descrição */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
}

.item-descricao {
    flex: 1; /* Faz a descrição ocupar o espaço restante */
}

.item-card:hover {
    transform: translateY(-3px) scale(1.02); /* Aumenta o tamanho ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta a sombra */
    filter: brightness(1.05); /* Aumenta o brilho */
}

.modal-content {
    background-color:rgba(255,15,15,0.34);
    background-image:linear-gradient(88deg, #6a0dad, #3439db);
    border-radius: var(--border-radius);
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.form-control {
    border-radius: 8px;
    padding: 0.8rem;
    border: 2px solid #e9ecef;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(74, 144, 226, 0.5); /* Aumenta o brilho ao focar */
}

.arquivo-preview, .imagem-preview {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    margin: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    
    section {
        padding: 20px;
    }
    
    h2, .navbar-brand {
        font-size: 1.5rem;
    }
}

.modo-edicao {
    display: none;
}

#respostas, #monitoria {
    background-color: var(--card-background);
}

#respostas h2, #monitoria h2 {
    color: var(--primary-color);
    transition: color 0.3s ease; /* Transição suave para a cor */
}

#respostas h2:hover, #monitoria h2:hover {
    color: var(--accent-color); /* Muda a cor ao passar o mouse */
}
#respostas-container {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--card-background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}


.respostas-container {
    border-top: 1px solid #ddd;
    border-radius: 15px;
    margin-top: 1rem;
    padding-top: 1rem;
}

/* Efeito de transição de cor */
.text-red-to-green {
    color: var(--primary-color); /* Cor inicial (vermelho) */
    transition: color 0.3s ease; /* Transição suave */
}

.text-red-to-green:hover {
    color: var(--accent-color); /* Cor final (verde) ao passar o mouse */
}


.resposta {
    background-color: rgb(44, 62, 80); /* Cor de fundo das respostas */
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.25rem 0;
    color: #2c3e50; /* Cor do texto padrão (escura) */
}

.resposta:hover {
    color: #ffffff; /* Cor do texto ao passar o mouse */
    background-color: var(--primary-color); /* Muda a cor de fundo ao passar o mouse */
}

.modo-monitor {
    background-color: #6f3939;
    padding: 1rem;
    border-radius: var(--border-radius);
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px);
    z-index: 1;
}

.login-panel {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    width: 300px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

#digito {
    text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    background-color: #ffffff; /* Cor de fundo clara */
    color: var(--text-color); /* Cor do texto */
    border: 2px solid #ccc; /* Borda padrão */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 0.8rem; /* Espaçamento interno */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
}

#searchInput {
    border-radius: 50px; /* Bordas arredondadas */
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
    border-color: #a30000 #1600a8 #a30000 #0006c1; /* Cores das bordas */
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 1em;
    text-shadow: rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
}

/* Adicionei o efeito de brilho em todos os elementos */
* {
    transition: all 0.3s ease;
}

